In [1]:
# declare and initialize a list
my_list = [1, 2, 3, 4, 5]

In [2]:
# print each element in the list with manual iteration
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])
print(my_list[4])

1
2
3
4
5

In [3]:
# print each element in the list with for loop iteration
# Note: indentation is important
for my_var in my_list:
    print(my_var)

1
2
3
4
5

In [4]:
# set to last value from use in for loop above
my_var

5

In [5]:
# iterating through a string
for i in "abc":
    print(i)

a
b
c

In [6]:
# iterating through a string, not a number
for i in "10":
    print(i)

1
0

In [7]:
# iterating through a range of numbers
# Note: range(a, b) means from a (inclusive) to b (exclusive)
for x in range(0, 10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [8]:
# iterating through a range of numbers
# Note: range(a, b) means from a (inclusive) to b (exclusive)
# Note: if a is not explicitly given, defaulted to 0
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [9]:
# declare and initialize dictionaries and a list of the dictionaries
user_1 = {'username': 'abc', 'id': 1}
user_2 = {'username': 'xyz', 'id': 2}
my_users = [user_1, user_2]
print(my_users)

[{'username': 'abc', 'id': 1}, {'username': 'xyz', 'id': 2}]

In [10]:
# looping through the list of dictionaries
for user in my_users:
    print(user)

{'username': 'abc', 'id': 1}
{'username': 'xyz', 'id': 2}

In [11]:
# accessing keys while looping through list of dictionaries
# Note: both dictionaries in the list have the same keys
# Note: KeyError if the specified key is not accessible
for user in my_users:
    print("username: " + user['username'])

username: abc
username: xyz

In [12]:
# updating a dictionary and the list of dictionaries
user_1['email'] = 'domain@email.com'
my_users = [user_1, user_2]
print(my_users)

[{'username': 'abc', 'id': 1, 'email': 'domain@email.com'}, {'username': 'xyz', 'id': 2}]

In [13]:
# accessing keys if possible while looping though list of dictionaries
# Note: for every block (for, if, etc) extra level of indentation is required
for user in my_users:
    if 'email' in user:
        print(user['email'])

domain@email.com

In [14]:
# nested for loops
for i in range(1, 11):
    for j in range(1, 11):
        #value = i * j
        print(str(i * j), end = " ")
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

In [15]:
# looping through list of dictionaries to find a specific user
# Note: uses nested if statements
selected_user = {}
my_user_lookup_id = 2
for user in my_users:
    if 'id' in user:
        if user['id'] == my_user_lookup_id:
            selected_user = user
            print(selected_user)

{'username': 'xyz', 'id': 2}

In [16]:
# looping through list of dictionaries to find a specific user
# Note: checks multiple conditions in one if statement
selected_user = {}
my_user_lookup_id = 2
for user in my_users:
    if (('id' in user) & (user['id'] == my_user_lookup_id)):
        selected_user = user
        print(selected_user)

{'username': 'xyz', 'id': 2}

In [17]:
# nested for loops with if condition
for x in range(0, 10):
    for user in my_users:
        if user['id'] == x:
            print(user)

{'username': 'abc', 'id': 1, 'email': 'domain@email.com'}
{'username': 'xyz', 'id': 2}